{% extends 'users/base.html' %}

{% block title %} {{user.name}} {{user.surname}} {% endblock %}


{% block content %} 
    
    <p>{{user.name}} {{user.surname}}</p>
    <body>
        <p> AGE: {{user.age}} </p>
        <p> BIRTHDAY: {{user.birthday}} </p>
        {% if user.photo %}
            <img src="{{ user.photo.url }}" style="max-height: 300px">
        {% endif %}
    </body>

    <form method="post">
        {% csrf_token %}
        {{form}}

        <input type="submit" value="Delete user"></button>
    </form>
{% endblock %}


